body {
    height: 100vh;
    font-family: 'Asap', sans-serif;
}

.bannerImg {
    display: flex;
    flex-direction: row;
    color: whitesmoke;
    background-color: #97C9E8;
    height: 150px;
    justify-content: flex-start;
    align-items: flex-end;
}

h1 {
    font-size: 60px;
}

#rainbow {
    width: 50px;
    height: 50px;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 15px;
}

.searchBar {
    height: 50px;
    display: flex;
    justify-content: flex-end;
    background-color: #F2F2F2;
    margin-bottom: 20px;
}

form {
    margin-right: 20px;
    margin-top: 8px;
}

input {
    border-radius: 5px;
    margin-right: 6px;
}

h3{
    font-size: 16px;
    text-align: center;
}

.bold{
    font-weight: bold;
    color: #FD646F;
}

footer {
    display: flex;
    padding-top: 5px;
    justify-content: center;
    color: whitesmoke;
    height: 40px;
    background-color: #97C9E8;
}

i {
    color: grey;
    font-size: 25px;
    display: flex;
    justify-content: flex-end;
}

button{
    border: none;
    background-color: #F2F2F2;
}
.weatherTiles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 262px;
}

.cityName, .temperature, .maxTemperature, .minTemperature, .description, .extraInfo{
    height: 30px;
    margin-top: 5px;
}

#cityName, #temperature, #maxTemperature, #minTemperature, #description, #extraInfo{
    font-size: 16px;
    text-align: center;
}

#cityNotFound{
    display: none;
}

#noResults{
    margin-top: -150px;
  text-align: center;
}

